*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.first{
    background-image: url(images/image1.png);
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.container{
    height: 100px;
    width: 50%;
    background-color: #800000;
    color: #F9E400;
    position: absolute;
    margin-top: 300px;
    margin-left: 350px;
    text-align: justify;
    padding: 5px 15px;
}
.second{
    margin: 50px 75px;
    text-align: justify;
    line-height: 1.8rem;
    word-spacing: 3px;
}
.second h2{
    text-align: center;
    margin-bottom: 10px;
}
.thrid{
    background-image: url(images/image2.png);
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.container1{
     height: 50x;
     width: 50%;
     background-color: #800000;
     color: #F9E400;
     position: absolute;
     margin-top: 150px;
     margin-left: 350px;
     text-align: justify;
     padding: 5px 15px;
}
.fourth{
    height: 250px;
    padding: 50px 75px;
    width: 100%;
    text-align: justify;
    line-height: 1.8rem;
    word-spacing: 3px;
    background-color: black;
    color: white;
}
.fourth h2{
    text-align: center;
    margin-bottom: 10px;
}
.fifth{
        background-image: url(images/image3.png);
        min-height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
}
.container2{
    height: 50x;
    width: 20%;
    background-color: #800000;
    color: #F9E400;
    position: absolute;
    margin-top: 150px;
    margin-left: 600px;
    text-align: justify;
    padding: 5px 45px;
}
.sixth{
    height: 250px;
    padding: 50px 75px;
    width: 100%;
    text-align: justify;
    line-height: 1.8rem;
    word-spacing: 3px;
    background-color: black;
    color: white;
}
.sixth h2{
    text-align: center;
    margin-bottom: 10px;
}
.seventh{
    background-image: url(images/image1.png);
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.container3{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: wheat;
    font-size: 30px;
    position: absolute;
    margin-top: 300px;
    margin-left: 450px;
    text-align: justify;
    padding: 5px 45px;
}